@if false {
	html { background: orchid; }
	body { background: yellow; }

	.container { background: red; }
	.page { background: green; }

}

html {
	height: 100%;
	margin: 0;
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	height: 100%;
	margin: 0px;
	padding: 10px;
	padding-bottom: 25px;

	box-sizing: border-box;
}

.container {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.page {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	//padding: 30px;
}

.header {
	flex-shrink: 1;
}

.editor {
	flex: 1;
	overflow: hidden;
	padding: 0; //10px
	border: 1px solid black;

}

.sqlView .sql {
	font-family: Consolas;
}

.sqlView .args {
	font-family: Consolas;
	margin-left: 30px;
}

.sqlView {
	border: black solid 1px;
	padding-left: 5px;
	background-color: lighten(black, 95%);
	font-size: 14px;

	.error {
		color: red;
	}
}
